body {
    width: 99.3%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* hide scrollbars */
    overflow: hidden;
    background-color: rgb(176,176,176);
}

#canvas {
    /* put easy colors for color blinds */
    border: 4px solid rgb(255, 0, 0);
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgb(17, 161, 130) 0%,
        rgb(52, 4, 80) 100%
      );
}

