body {


    background-color: rgb(176,176,176);
}

#canvas {
    border: 4px solid rgba(255, 0, 0, 0.308);
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    background-color: rgb(61, 5, 5);
}
